<launch>
    <arg name="robot_ip" default="192.168.1.100"/>
    <arg name="joystick" default="false"/>
    <arg name="keyboard" default="false"/>

    <env name="ROSCONSOLE_CONFIG_FILE"
         value="$(find franka_launch)/conf/custom_rosconsole.conf"/>

    <include if="$(arg joystick)" file="$(find jog_arm)/launch/joystick.launch"/>
    <include if="$(arg keyboard)" file="$(find keyboard_publisher)/launch/key_to_twist.launch"/>
    <include file="$(find franka_controllers)/launch/start_panda_with_cartesian_velocity_controller.launch">
        <arg name="robot_ip" value="$(arg robot_ip)"/>
    </include>
</launch>